<div class="container">
  <div class="row">
      <ul class="nav side-menu">

     
    <div class="col-md-2">
      <a href="/"><i class="fa fa-home"></i> Home </a>
    </div>
   <div class="col-md-2">
      <li><a href="@Url.Action("Index","Patients")"><i class="fa fa-users"></i> Patient</a></li>
    </div>
       <div class="col-md-2">

      <li><a href="@Url.Action("Index","Appointments")"><i class="fa fa-calendar-check-o"></i> Appointment</a></li>
    </div>
       <div class="col-md-2">

      <li><a href="@Url.Action("Index","Doctors")"><i class="fa fa-user-md"></i> Doctors</a></li>
    </div>
       <div class="col-md-2">

      <li> <a href="@Url.Action("Index","Account")"><i class="fa fa-server"></i> Users </a> </li>
    </div>
       <div class="col-md-2">
        <li><a href="@Url.Action("DaillyAppointments","Reports")"><i class="fa fa-bar-chart-o"></i>Daily Appointments</a></li>
    </div>
     </ul>
  </div>
</div>

